.tabs {
  display: flex;
  justify-content: space-around;
  padding: 25px 10px;
  box-sizing: border-box;
}

.tab {
  min-width: 50px;
  min-height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.tabHome {
  background-image: url(../../images/home.svg);
}

.tabHomeActive {
  background-image: url(../../images/homeActive.svg);
}

.tabFriends {
  background-image: url(../../images/friends.svg);
}

.tabFriendsActive {
  background-image: url(../../images/friendsActive.svg);
}

.tabExpenses {
  background-image: url(../../images/expenses.svg);
}

.tabExpensesActive {
  background-image: url(../../images/expensesActive.svg);
}

.tabResults {
  background-image: url(../../images/results.svg);
}

.tabResultsActive {
  background-image: url(../../images/resultsActive.svg);
}