$gradient-color: linear-gradient(90deg, #71D898 0%, #7AB4D0 100%);
$dark: rgba(6, 41, 67, 1);

@mixin basic-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

@mixin basic-item {
  border: 0.5px solid $dark;
  // outline: 0.5px solid $dark;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

@mixin button-ok {
  background-image: url(../../images/ok.svg);
  background-size: contain;
}

@mixin button-plus {
  background-image: url(../../images/plus.svg);
  position: fixed;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 100px;
  width: 80px;
  height: 80px;
  z-index: 1;
  background-size: contain;
}

@mixin input-without-border {
  font-family: Inter;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: $dark;
  border: none;
}