#root {
  max-width: 990px;
  margin: 0 auto;
  /* height: 100%; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  }
  
.content {
  grid-row: 2;
  overflow-y: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 620px) {
  .content {
    padding: 15px;
  } 
}
